@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700&display=swap');

body{
font-family: 'Rubik',Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:300;
}

h1,h2,h3,h4,h5,h6,
.big-white,
.ultra-big-white,
.de_tab.tab_steps .de_nav li span,
.teaser-text,
.text-slider,
#mainmenu,
.btn,
a.btn,
.btn-line,
a.btn-line,
#filters{
font-family: 'Montserrat',Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6,
.de_tab.tab_steps .de_nav li span
{
letter-spacing:0;
text-transform:none;
}

.blog-list h3, .blog-read h3{
font-size:22px;
}

.ultra-big-white{
font-size:35px;
letter-spacing:5px;
}

.text-slider{
font-size:60px;
letter-spacing:5px;
}